.CustomNavbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding: 15px 7%;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
}

.toggleIcon{
    width: 50px;
    margin-left: 40px;
    cursor: pointer;
}

.searchBox{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.searchBox input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.searchBox input::placeholder{
    color: #fff;
}

.searchBox img{
    width: 20px;
    cursor: pointer;

}